import sqlite3

In [24]:
import sqlite3
c = sqlite3.connect("xyz")

In [25]:
c.execute( " create table uvw(id int , name text, salary int)")

OperationalError: table uvw already exists

In [22]:
c.execute ( " insert into uvw (id, name, salary) values (100 , 'sridhar', 50000)")
c.execute ( " insert into uvw (id, name, salary) values (100 , 'vijay', 40000)")
c.execute ( " insert into uvw (id, name, salary) values (100 , 'rohit', 33000)")

In [23]:
c.commit()

In [8]:
pwd()

'C:\\Users\\VIJAY KUMAR'

In [19]:
c.commit()

In [37]:
import sqlite3

In [38]:
a = sqlite3.connect ("covidDB2705")

In [40]:
a.execute( " create table covid19(Rank int , Country text, Cases int, Mortality int)")

OperationalError: table covid19 already exists

In [42]:
a.execute (" insert into covid19 (Rank, Country, Cases, Mortality) values(1, 'USA', 1725275, 100572)")
a.execute (" insert into covid19 (Rank, Country, Cases, Mortality) values(2, 'Brazil', 394507, 24593)")
a.execute (" insert into covid19 (Rank, Country, Cases, Mortality) values(3, 'Russia', 362342, 3807)")
a.execute (" insert into covid19 (Rank, Country, Cases, Mortality) values(4, 'Spain', 283339, 27117)")
a.execute (" insert into covid19 (Rank, Country, Cases, Mortality) values(5, 'UK', 265227, 37048)")

OperationalError: database is locked

In [43]:
c.commit()

In [47]:
import sqlite3

In [48]:
a = sqlite3.connect("CD2705")

In [49]:
a.execute ( "create table cv19 (rank int, country text, cases int , mortality int) ")

In [52]:
a.execute ("insert into cv19 (rank, country , cases, mortality) values(1, 'USA', 1725275, 100572)")
a.execute ("insert into cv19 (rank, country , cases, mortality) values(2, 'Brazil', 394507, 24593)")
a.execute ("insert into cv19 (rank, country , cases, mortality) values(3, 'Russia', 362342, 3807)")
a.execute ("insert into cv19 (rank, country , cases, mortality) values(4, 'Spain', 283339, 27117)")
a.execute ("insert into cv19 (rank, country , cases, mortality) values(5, 'UK', 265227, 37048)")
a.execute ("insert into cv19 (rank, country , cases, mortality) values(6, 'Italy', 230555, 32955)")
a.execute ("insert into cv19 (rank, country , cases, mortality) values(7, 'France', 182722, 28530)")
a.execute ("insert into cv19 (rank, country , cases, mortality) values(8, 'Germany', 181288, 8498)")
a.execute ("insert into cv19 (rank, country , cases, mortality) values(9, 'Turkey', 158762, 4397)")
a.execute ("insert into cv19 (rank, country , cases, mortality) values(10, 'India', 151876, 4346)")

In [53]:
a.commit()

In [54]:
pwd()

'C:\\Users\\VIJAY KUMAR'

In [56]:
a.execute("select * from cv19 where country = 'Germany'")

In [57]:
list(a.execute("select * from cv19 where country = 'Germany'"))

[(8, 'Germany', 181288, 8498)]

In [58]:
a.execute("select * from cv19 where country = 'India , France'")

In [63]:
list(a.execute("select * from cv19 where country = 'India'"))

[(10, 'India', 151876, 4346)]

In [68]:
for i in a.execute ("select * from cv19 where cases > 200000 ") :
    print (i)

(1, 'USA', 1725275, 100572)
(1, 'USA', 1725275, 100572)
(2, 'Brazil', 394507, 24593)
(3, 'Russia', 362342, 3807)
(4, 'Spain', 283339, 27117)
(5, 'UK', 265227, 37048)
(6, 'Italy', 230555, 32955)

In [69]:
for i in a.execute ("select * from cv19 order by cases "):
    print (i)

(10, 'India', 151876, 4346)
(9, 'Turkey', 158762, 4397)
(8, 'Germany', 181288, 8498)
(7, 'France', 182722, 28530)
(6, 'Italy', 230555, 32955)
(5, 'UK', 265227, 37048)
(4, 'Spain', 283339, 27117)
(3, 'Russia', 362342, 3807)
(2, 'Brazil', 394507, 24593)
(1, 'USA', 1725275, 100572)
(1, 'USA', 1725275, 100572)

In [71]:
list (a.execute (" select * from cv19 where mortality > 10000 "))

[(1, 'USA', 1725275, 100572),
 (1, 'USA', 1725275, 100572),
 (2, 'Brazil', 394507, 24593),
 (4, 'Spain', 283339, 27117),
 (5, 'UK', 265227, 37048),
 (6, 'Italy', 230555, 32955),
 (7, 'France', 182722, 28530)]